*{
    margin: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    ;
}

header{

    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-nav{
    color: white;
    padding-left: 20vh;

}

#hero{
    width: 100%;
    height: 90vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/playa.jpg);
    background-size: cover;
    gap: 5vh;
}

.text-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    color: white;

}
.text-hero h1{
    display: flex;
    font-size: 10vh;


}
.text-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
}
.hero-form{
 
    width: 20%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.877);

}
.hero-form h1{
 
    width: 90%;
    font-size: 2vh;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs input{
    width: 80%;
    height: 5vh;
    margin-top: 2vh;
}

.end-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    margin-top: 3vh;
}
.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
}
.end-form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 5vh;
}


.cards{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.text-card{
    width: 50%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 10vh;
    justify-content: center;
    align-items: center;
}
.color{
    color: aqua;
    padding: 3vh;
}
.images{
    display: flex;
    justify-content: center;
    gap: 5vh;
}
.images img{
    width: 50%;
    height: 30vh;
    object-fit: cover;

}

.boton-enter